*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.container{
    width: 100vw;
    height: 60vh;
    background-color: rgb(178, 178, 255);
    
}
div.image-container{
    position: relative;
    height: 100%;
}

.set-w{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 20%;
    top: 20%;
}

.image{
    position: absolute;
    right: 20%;
    top: 20%;
}

.image:nth-child(2){
    right: 30%;
    top: 25%;
}

.image:nth-child(3){
    right: 30%;
    top: 65%;
}

.image:nth-child(4){
    right: 40%;
    top: 60%;
}

.image:nth-child(5){
    right: 45%;
    top: 47%;
}